$bronze: #907c64;
$light: lightgrey;
$matte-black: #28282b;
$pastel-dark: #2c2c2c;
$pastel-grey: white;

/* ------------------ DECOUVERTE ------------------ */
$primary: #907c64;
$secondary: #4f537b;

// timeline variables

$timeline-body-bg: grey;
$timeline-body-round: 3px;
$timeline-body-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);

// typography Timeline

$p-font-weight: 300;
$p-line-height: 1.5;
$p-font-size: 14px;
$p-opacity: 0.8;
$time-line-font-weight-h5: 200;

// container

$container-max-width: 650px;
$container-margin: 50px auto;
$container-margin-top: 5rem;

// title-decouverte

$-title-decouverte-margin-top: 5rem;

// Outils

$margin-top-h1: 5rem;
