$bronze: #907c64;
$light: lightgrey;
$matte-black: #28282b;
$pastel-dark: #2c2c2c;
$pastel-grey: white;

/* ------------------ HEADER ------------------ */

$container-max-width: 1200px;
$padding-section: 4rem;
$padding-container: 2rem;
$padding-container-mobile: 1rem;
$margin-bottom-title: 2rem;
$margin-bottom-text: 1.5rem;
$margin-vertical: 2rem;
$font-size-button: 1rem;
$font-weigth-h1: bold;
$box-shadow-img: 0 10px 20px rgba(0, 0, 0, 0.2);

// Transitions
$transition-speed: 0.3s;
$transition-timing: ease;

// Breakpoints
$mobile: 780px;

/* ------------------ DECOUVERTE ------------------ */
$primary: #907c64;
$secondary: #4f537b;

// timeline variables

$timeline-body-bg: grey;
$timeline-body-round: 3px;
$timeline-body-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);

// typography Timeline

$p-font-weight: 300;
$p-line-height: 1.5;
$p-font-size: 14px;
$p-opacity: 0.8;
$time-line-font-weight-h5: 200;

// container

$container-max-width: 650px;
$container-margin: 50px auto;
$container-margin-top: 5rem;

// title-decouverte

$-title-decouverte-margin-top: 5rem;

// Outils

$margin-top-h1: 1rem;
